.mail-list {
  height: 80vh;
  width: 100%;
  margin: 0;

  overflow-x: hidden;
  overflow-y: scroll;
  padding-inline: 1em;
  background-color: white;

  border-radius: 1em;
}

.expanded .mail-list {
  flex-grow: 2;
}

.mail-sort {
  padding: 10px 0;
}

.mail-sort select {
  border-radius: 1em;
  padding: 3px 0;
  border: none;

  outline: 1px solid #ccc;
  text-align: center;

  margin-inline-end: 10px;
}
