.mail-preview {
  display: flex;
  align-items: center;

  position: relative;

  font-size: 0.875rem;

  box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.12);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.mail-preview:hover {
  box-shadow: inset -1px 0 0 #dadce0, inset 1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  z-index: 2;
}

.star-btn {
  padding-inline-start: 13px;
  flex-shrink: 0;
}

.preview-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-inline-start: 10px;
  min-width: 0;
  flex-grow: 1;
}
.inner-content {
  display: flex;
  align-items: center;
  min-width: 0;
}

.preview-sender {
  font-weight: bold;
  white-space: nowrap;

  padding-inline-end: 80px;
}

.preview-subject {
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.preview-body {
  color: #5f6368;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.preview-date {
  white-space: nowrap;
  margin-left: 20px;
  flex-shrink: 0;
}
.unread {
  background-color: white;
}

.read {
  font-weight: 400;
  background-color: #f2f6fc;
}

.star-btn span.starred {
  color: yellow;
}
