.mail-header {
  width: 100%;
  background-color: var(--main-mail-bg-color);
  font-size: 13px;

  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 4px;
  padding-top: 4px;
}

.mail-search-wrapper {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 720px;
  padding: 0 10px;
  flex: 1 1 auto;
}

.mail-search-form {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin-inline: 0;
  border-radius: 24px;
  min-height: 48px;
  max-width: 720px;
  background-color: #eaf1fb;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease, background-color 0.2s ease;
}

.mail-search-input {
  width: 100%;
  min-height: 48px;
  padding: 0;
  overflow: hidden;
  background-color: inherit;
  margin-left: 56px;
  margin-right: 49px;
  outline: none;
  border: none;
  font-size: 16px;
}

.mail-search-btn {
  height: 24px;
  width: 24px;
  position: absolute;
  outline: none;
  border: none;
  background: transparent;
  color: #5f6368;
  cursor: pointer;
  padding: 6px;
}

.search-icon {
  padding: 6px;
}

.search-icon:hover {
  border-radius: 50%;
  background-color: rgba(60, 64, 67, 0.1);
}

.mail-close-btn {
  top: 0;
  height: 24px;
  width: 24px;
  position: absolute;
  background: transparent;

  outline: none;
  border: none;
  right: 44px;
  padding: 6px;
}

.close-icon {
  padding: 6px;
}

.close-icon:hover {
  border-radius: 50%;
  background-color: rgba(60, 64, 67, 0.1);
}

.logo {
  cursor: pointer;
}

.mail-header .logo img {
  object-fit: contain;
  height: 40px;
  width: 110px;
  margin-block-end: 4px;
}

.logo-hamburger {
  display: flex;
  padding-inline-end: 30px;
}

.btn.hamburger {
  height: 48px;
  width: 48px;
  padding: 12px;
  border-radius: 50%;
  margin: 0 4px;
}
