.mail-preview {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
  box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.12);
  border-color: inherit;

  position: relative;
  font-size: 0.875em;
  line-height: 20px;

  cursor: pointer;
  transition: background-color 0.2s ease;
}
.preview-sender {
  display: flex;
  padding-inline-end: 2em;

  flex-basis: 168px;
  align-items: center;
}

.mail-preview:hover {
  box-shadow: inset -1px 0 0 #dadce0, inset 1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  z-index: 2;
}

.btn.star-btn {
  padding-inline-end: 10px;
}

.preview-content {
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  width: 100%;
  /* width: 90%; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.preview-inner-content {
  /* overflow: hidden; */
}

.preview-subject {
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}

.preview-body {
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}

.preview-date {
  flex-basis: 56px;
  padding-inline-end: 20px;
  white-space: nowrap;
}

.unread .preview-date,
.preview-sender,
.preview-subject {
  color: rgb(32, 33, 36);
  font-weight: 900;
}

.preview-actions {
  display: none;
}

.preview-actions > .btn {
  opacity: 0.7;
}

.mail-preview:hover .preview-date {
  display: none;
}

.mail-preview:hover .preview-actions {
  display: inherit;
}

.mail-preview:hover .btn.star-btn {
  opacity: 1;
}

.unread {
  background-color: white;
}

.read {
  font-weight: 400;
  background-color: #f2f6fc;
}

.starred {
  content: '⭐️';
  color: rgb(232, 232, 34);
}
