.sidebar {
  height: 100vh;
  position: fixed;
  text-align: left;
  left: 0;
  min-width: 72px;
  background-color: var(--main-mail-bg-color);
  color: var(--mail-text-color);
  z-index: 50;
}

.sidebar-links {
  margin: 0;
  gap: 1em;
}

.link {
  display: flex;
  align-items: center;
  padding: 0 12px 0 26px;
  cursor: pointer;
}

.link-icon {
  position: relative;
  margin-inline-end: 18px;
}

.compose-wrapper {
  align-self: start;
  text-align: center;
  padding: 0 0 0 8px;
}

.link.compose-link {
  min-height: 56px;
  min-width: 56px;
  max-width: 56px;

  padding: 0;
  text-align: center;

  border-radius: 1em;
  background-color: rgb(194, 231, 255);
}

.sidebar:hover {
  width: 256px;
}

.sidebar:hover .link.compose-link {
  padding-inline-end: 24px;
  max-width: none;
}

.sidebar:hover .hidden {
  display: block;
}

.link.active::before {
  content: '';
  position: absolute;
  left: 45%;
  transform: translateX(-50%);
  height: 40px;
  width: 40px;
  background-color: #d3e3fd;
  border-radius: 50%;
  z-index: -1;

  transition: 0.3s;
}

.sidebar:hover .link.active::before {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  width: 100%;
}
