
.note-form {
    max-width: 600px;
    width: calc(100vw - 72px);
    display: flex;
    
    display: flex; 
    align-items: center; 
    border: 1px solid #e0e0e0; 
    border-radius: 4px; 
    overflow: hidden;

    margin-inline-start: 0.55rem;
    margin-inline-end: 0.4rem;
}

.note-text-input {
    border: none;
    padding: 10px; 
    flex: 1; 
    outline: none;
}

.note-text-input::placeholder {
    color: rgb(27, 27, 27);
    font-weight: bold;
}

.note-form-btn {
    background-color: #fbbd0500; 
    border: none; 
    color: black;
    padding: 0; 
    cursor: pointer; 
    border-radius: 50%;

    height: 52px;
    width: 52px;
}

.note-form-btn:hover {
    background-color: rgba(128, 128, 128, 0.279);
}