
.note-header {
    font: 400 13px / 27px Roboto, Arial, sans-serif;
    color: rgb(0, 0, 0);
    min-width: 160px;
    position: fixed;
    display: flex;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 64px;
}

.note-search-container{
    flex-grow: 1;

    margin-inline-start: 80px;
    margin-block-start: 8px;
    margin-block-end: 8px;
}

.side-menu-btn {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50%;
    border: none;
}

.side-menu-btn :hover {
    background-color: rgba(128, 128, 128, 0.279);
}