
.note-preview {
    grid-auto-flow: column;
    height: fit-content;
    width: 240px;
    border-radius: 8px; 
    padding: 20px;
    /* transition: transform 0.2s;  */
}

.note-preview:hover {
    /* transform: translateY(-4px); */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}