.mail-index {
  background-color: var(--main-mail-bg-color);

  color: var(--mail-gray-color);
}

.mail-main-content {
  min-height: 100vh;
  margin-inline-start: 72px;
}

.mail-main-content.expanded {
  margin-inline-start: 256px;
}
