.mail-index {
  height: calc(100vh - 67px);
  background-color: var(--main-mail-bg-color);
  color: var(--mail-gray-color);
}

.mail-main-content {
  margin-inline-start: 72px;
}

.mail-main-content.expanded {
  margin-inline-start: 256px;
}
