.mail-details {
  display: flex;
  flex-direction: column;

  gap: 1em;
}

.details-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.deatils-header .btn-group {
  display: flex;
}

.btn-group:hover svg {
  fill: black;
}

.details-contact {
  display: inline-flex;
  align-items: center;
}

.details-contact > * {
  margin-inline-end: 0.5em;
}

.contact-address {
  color: var(--mail-gray-color);
}
