.mail-index {
  height: 100vh;
  background-color: var(--main-mail-bg-color);
  color: var(--mail-gray-color);
}

.mail-main-content {
  position: relative;
  margin-inline-start: 72px;
}

.mail-main-content.expanded {
  margin-inline-start: 256px;
}
