*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: RobotoBold, Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

ul,
li {
  padding: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  cursor: pointer;
  color: var(--mail-secondary-color);
  border: none;
  background: none;
}

.btn::before {
  opacity: 0;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  width: 40px;
  padding: 10px;
  z-index: -1;

  border-radius: 50%;
  transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--mail-hover-bg);
}

.btn:hover::before {
  opacity: 1;
}
