.loader {
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.circular {
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  width: 100%;
  height: 100%;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: #d62d20; /* Google red */
  }
  40% {
    stroke: #0057e7; /* Google blue */
  }
  66% {
    stroke: #008744; /* Google green */
  }
  80%,
  90% {
    stroke: #ffa700; /* Google yellow */
  }
}
